@font-face{
    font-family: "Laila";
    src: url("../fonts/Laila-Bold.ttf");
}

@font-face{
    font-family: "Rubik";
    src: url("../fonts/Rubik-Regular.ttf");
}

html{
    scroll-behavior: smooth !important;
}

html, body{
    padding: 0;
    margin: 0;
    font: 18px "Rubik", sans-serif;
}

header > div > img{
    animation: pop 0.3s linear 1;
}

header{
    position: fixed;
    width: 100%;
    height: 90px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 10;
}

header > nav{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 30px;
    animation: pop 0.3s linear 1;
}

header > nav > div > a{
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
    color: #000000;
    transition: all .1s;
}

header > nav > div > a:hover{
    color: #84D1AA;
    background-color: #84d1ab2a;
    /*border-bottom: 2px solid #84D1AA;*/
}

header > nav > div > a.active{
    color: #F96632;
    background-color: #F966322a;
    /*border-bottom: 2px solid #F96632;*/
}

section#home{
    background-color: antiquewhite;
    padding: 90px 50px;
    height: calc(100vh - 150px);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
}

section#home > div{
    display: flex;
    justify-content: center;
    align-items: center;
}

section#home > div > div#presentation{
    display: flex;
    flex-direction: column;
    gap: 30px;
    line-height: 25px;
}

section#home > div > div#presentation > div > h1{
    font: 40px "Laila";
    margin: 0;
    color: #F96632;
}

section#home > div > div#presentation > div > span#osc-btn{
    border-radius: 50px;
    padding: 1px 5px;
    color: #F96632;
    font-weight: bold;
    cursor: pointer;
}

section#home > div > div#presentation > div > span#osc-btn:hover{
    background-color: #84D1AA2a;
    color: #84D1AA;
}

section#home > div > div > div > a{
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: #F96632;
    font-weight: bold;
}

section#home > div > div > div > a:hover{
    background-color: #84D1AA;
}

section#home > div > div#presentation > div:nth-of-type(1){
    animation: slidingT .7s ease-in-out 1;
}

section#home > div > div#presentation > div:nth-of-type(2){
    animation: slidingB .7s ease-in-out 1;
}

section#home > div > div#presentation > div:nth-of-type(3){
    animation: slidingLBtn .8s ease-in-out 1;
}

section#home > div > img#earth{
    animation: slidingR .7s ease-in-out 1, floating 2s ease-in-out .7s infinite;
    position: absolute;
}

section#home > div > img#human-using-calculator{
    animation: slidingL .7s ease-in-out 1, floating 2s ease-in-out .7s infinite;
    position: absolute;
}

section#home > div > img#pi-day-icon{
    width: 50px;
    position: relative;
    top: -150px;
    left: 10px;
    animation: slidingB 1s ease-in-out 1, floating 2s ease-in-out 1s infinite;
}

section#home > div > img#pi20dig{
    width: 350px;
    position: relative;
    top: -15px;
    left: 40px;
    animation: slidingB .9s ease-in-out 1, floating 2s ease-in-out .9s infinite;
}

@keyframes pop{
    from {scale: 0.5 0.5;}
    to {scale: 1 1;}
}

@keyframes slidingT{
    from {transform: translateY(-100px); opacity: 0; visibility: hidden;}
    to {transform: translateY(0px); opacity: 1; visibility: visible;}
}

@keyframes slidingB{
    from {transform: translateY(100px); opacity: 0; visibility: hidden;}
    to {transform: translateY(0px); opacity: 1; visibility: visible;}
}

@keyframes slidingR{
    from {transform: translateX(100px); opacity: 0; visibility: hidden;}
    to {transform: translateX(0px); opacity: 1; visibility: visible;}
}

@keyframes slidingL{
    from {transform: translateX(-100px); opacity: 0; visibility: hidden;}
    to {transform: translateX(0px); opacity: 1; visibility: visible;}
}

@keyframes slidingLBtn{
    0% {transform: translateX(-100px); opacity: 0; visibility: hidden;}
    60% {transform: translateX(-100px); opacity: 0; visibility: hidden;}
    100% {transform: translateX(0px); opacity: 1; visibility: visible;}
}

@keyframes floating{
    from { transform: translate(0,  0px); }
    65%  { transform: translate(0, 15px); }
    to   { transform: translate(0, -0px); }    
}